<%= form_for user do |f| %>


  <% if f.object.errors.any? %>
  <div id="error_explanation" class="flash_style">
    <h2>There were some errors:</h2>
    <ul>
      <% f.object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<div class="form__registration">
  <fieldset class="form__registration-required">
    <h3>required fields</h3>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </div>

    <div class="field<%= '_with_errors' if f.object.errors[:password].any? %>">
      <%= f.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> or more characters)</em>
        <% end %><br />
      <%= f.password_field :password %><br>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, id: 'password_confirmation' %>
    </div>
    
    <div class="field">
      <%= f.label :affiliation %><br />
      <%= f.collection_select(:affiliation_id, Affiliation.all, :id, :name, default: 'unspecified') %>
    </div>

    <div class="form__registration-optional">
    <h3>optional fields</h3>
      <div class="field">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </div>

      <div class="field">
        <%= f.label :address %><br />
        <%= f.text_field :address %>
      </div>

      <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :city %>
      </div>

      <div class="field">
        <%= f.label :state %><br />
        <%= f.collection_select(:state, State.all, :state_code, :state_name, default: 'unspecified') %>
      </div>

      <div class="field">
        <%= f.label :zipcode %><br />
        <%= f.text_field :zipcode %>
      </div>

      <div class="field">
        <%= f.label :phone %><br />
        <%= f.text_field :phone %>
      </div>

    <% if current_user && current_user.admin? %>
      <div class="set-user-type">
        <p>user type</p>
        <p><%= f.label :admin, "standard user", value: false %>
        <%= f.radio_button :admin, false, :value => false %></p>
        <p><%= f.label :admin, "admin", value: false %>
        <%= f.radio_button :admin, true, :value => true %></p>
      </div>
    <% end %>

    <div class="actions form__registration-submit">
      <%= f.submit %>
    </div>
    <% end %>
    </fieldset>
</div>

<script type="text/javascript">
  var password = document.getElementById("password")
    , confirm_password = document.getElementById("confirm_password");

  function validatePassword(){
    if(password.value != confirm_password.value) {
      confirm_password.setCustomValidity("Passwords Don't Match");
    } else {
      confirm_password.setCustomValidity('');
    }
  }

  password.onchange = validatePassword;
  confirm_password.onkeyup = validatePassword;
</script>
