<div class="summary__header">
<% if @user == current_user %>
  <h2>Cooler Communities</h2>
    <%= "Printed on " + Time.now.strftime("%m-%d-%Y at %I:%M%p") %>
    <div class="user__account">
      <h3>Survey Summary for <%= @user.full_name %></h3>
      <p>username: <%= @user.username %> | <%= @user.email %> | <%= @user.phone %> | <%= @user.full_name %> | <%= @user.address %> | <%= @user.city %>, <%= @user.state.code %><%= @user.zipcode %></p>
    </div>
<% end %>
</div>
