<div class="table">
  <% @categories.each do |category| %>  
  <h4><strong><%= category.name %></strong></h4>
  <table class="pretty-table">
      <tr>
        <th scope="col" width="12px">id</th>
        <th scope="col">airtable_id</th>
        <th scope="col">question_key</th>
        <th scope="col">question_text</th>
        <th scope="col">answer_key</th>
      </tr>

      <% category.questions.each do |q| %>
        <tr scope="row" height="70px" width="50px">
          <td><%= q.id %></td>
          <td><%= q.airtable_id %></td>
          <td><%= q.question_key %></td>
          <td><%= q.question_text %></td>
          <td><%= q.answer_key %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>
