<div class="main-nav">
  <div>
    <%= link_to (image_tag("cc-logo.png", class: "main-nav__cc-logo")), root_path %>
  </div>
  <div class="main-nav__links">
    <% if !user_signed_in? %>
      <%= link_to "About", '/about', class: "main-nav__link" %>
      <span class="main-nav__link-separator"> | </span>
      <%= link_to "Login", new_user_session_path, class: "main-nav__link" %>
      <% else %>
      <%= link_to "About", '/about', class: "main-nav__link" %>
      <span class="main-nav__link-separator">|</span>
      <%= link_to "Logout", destroy_user_session_path, class: "main-nav__link" %>
      <span class="main-nav__link-separator">|</span>
      <%= link_to "Summary", user_summary_path, class: "main-nav__link" %>
      <span class="main-nav__link-separator">|</span>
      <%= link_to "Confirm Registration", eventbrite_path, class: "main-nav__link" %>
    <% end %>
  </div>

  <div class="main-nav__display-area">
  </div>
</div>
